
    <img class="modal__small-img"
        src={{}} alt={{}}
        width="120" />
    <div class="modal__wrap">
        <div class="modal__big-img-wrap">
            <img class="modal__big-img"
                src={{}}
                alt={{}} />
        </div>
        <div class="modal__content-wrap">
            <h3 class="modal__title modal__title-first">INFO</h3>
            <p class="modal__text">Lorem, ipsum.</p>
            <h3 class="modal__title">WHEN</h3>
            <p class="modal__text">{{}}</p>
            <h3 class="modal__title">WHERE</h3>
            <p class="modal__text">{{}}</p>
            <h3 class="modal__title">WHO</h3>
            <p class="modal__text">{{}}</p>
            <h3 class="modal__title">PRICES</h3>
            <p class="modal__text barcode">{{}}</p>
            <a href={{}} class="modal__btn-buy">BUY TICKETS</a>
            <p class="modal__text barcode">{{}}</p>
            <a href={{}}  class="modal__btn-buy">BUY TICKETS</a>
        </div>
    </div>
    <div class="modal__btn-author-wrap">
        <button class="modal__btn-author">MORE FROM THIS AUTHOR</button>
    </div>
