<a class="all-countries-link" href="#">All countries</a>
{{#each this}}
<li id="country" class="dropdown-thumb__item" data-country-id="{{@key}}">
  <img src="https://flagcdn.com/20x15/{{this.flag}}.png" alt="{{@key}}">
  <span>{{this.country}}</span>
  </div>
  {{/each}}