<section class="events events__section">
  <div class="container">
    <h1 class="visually-hidden">Events</h1>
    <ul class="events__list list">
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
      <li class="card">
        <img class="card__img" src="./images/events-section/IMG_20210415_091859.jpg" alt="name" />
        <h2 class="card__title">name</h2>
        <p class="card__date">data</p>
        <p class="card__location">
          <svg class="contact-nav__icon" width="7" height="10">
            <use href="./images/form-symbol.svg#icon-Vector"></use></svg>
          location
        </p>
      </li>
    </ul>
  </div>
</section>
