<div class="header__background">
  <picture class="header__bg-picture">
    <source
      srcset="
        ./images/headerBg-c/desk-header-bg-c.jpg    1x,
        ./images/headerBg-c/desk-header-bg-c@2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ./images/headerBg-c/tabl-header-bg-c.jpg    1x,
        ./images/headerBg-c/tabl-header-bg-c@2x.jpg 2x
      "
      media="(min-width: 480px)"
    />
    <source
      srcset="
        ./images/headerBg-c/mob-header-bg-c.jpg    1x,
        ./images/headerBg-c/mob-header-bg-c@2x.jpg 2x
      "
      media="(max-width: 479px)"
    />
    <img
      class="header__img-bg"
      src="./images/headerBg-c/mob-header-bg-c.jpg"
      alt="background-img"
    />
  </picture>
</div>

<div class="header container">
  <picture class="header__logo">
    <source
      srcset="./images/logo/desk-logo.png 1x, ./images/logo/desk-logo@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/logo/tabl-logo.png 1x, ./images/logo/tabl-logo@2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/logo/mob-logo.png 1x, ./images/logo/mob-logo@2x.png 2x"
      media="(min-width: 320px)"
    />
    <img class="header__img" src="./images/logo/mob-logo.png" alt="logo" />
  </picture>

  <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
  <!-- ================================== -->
  <!-- <h1 class="sign">
    <span class="fast-flicker">F</span>IND<span class="flicker">BEST</span>he<span
      class="fast-flicker"
      >b</span
    >
  </h1> -->
  <!-- ================================== -->
  <div class="header__form-thumb">
    <form class="header__search-form" name="signup_form">
      <label class="header__label">
        <input
          class="header__form-field keySearchWord"
          type="text"
          id="keySearchWord"
          placeholder="Start searching"
        />
        <svg class="search__svg">
          <use class="search__icon" href="./images/search.svg#search-icon"></use>
        </svg>
      </label>
    </form>
    <div class="countries__box-dropdown">
      <div class="dropdown-thumb" data-dropdown>
        <span class="dropdown-thumb__text" data-country-id="default"> Choose country</span>
        <svg class="dropdown-thumb__svg">
          <use class="dropdown-thumb__icon" href="./images/search.svg#country-search"></use>
        </svg>
      </div>
      <ul class="dropdown-thumb__list visually-hidden"></ul>
    </div>
  </div>
</div>
