<div data-modal class="backdrop is-hidden">
  <div data-modal class="modal">
    <button data-modal-close class="modal-btn-close" type="button">
      <svg width="18" height="18">
        <use href="./images/form-symbol.svg#icon-close"></use>
      </svg>
    </button>
    <img
      class="modal__small-img"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Kvadrato.svg/1200px-Kvadrato.svg.png"
      alt=""
      width="120"
    />
    <div class="modal__wrap">
      <div class="modal__big-img-wrap">
        <img
          class="modal__big-img"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Kvadrato.svg/1200px-Kvadrato.svg.png"
          alt=""
        />
      </div>
      <div class="modal__content-wrap">
        <h3 class="modal__title modal__title-first">INFO</h3>
        <p class="modal__text">Lorem, ipsum.</p>
        <h3 class="modal__title">WHEN</h3>
        <p class="modal__text">Lorem, ipsum.</p>
        <h3 class="modal__title">WHERE</h3>
        <p class="modal__text">Lorem, ipsum.</p>
        <h3 class="modal__title">WHO</h3>
        <p class="modal__text">Lorem, ipsum.</p>
        <h3 class="modal__title">PRICES</h3>
        <p class="modal__text">Lorem, ipsum.</p>
        <button class="modal__btn-buy">BUY TICKETS</button>
        <p class="modal__text">Lorem, ipsum.</p>
        <button class="modal__btn-buy">BUY TICKETS</button>
      </div>
    </div>
    <div class="modal__btn-author-wrap">
      <button class="modal__btn-author">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
