.reset-box {
  margin: 0 auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-reset {
  // font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 61px;
  color: var(--title-text-color);
  margin-bottom: 25px;

  // ===========================
  text-shadow: 0 0 5px red, 0 0 15px var(--title-text-color), 0 0 25px red, 0 0 20px #f562ff,
    0 0 30px var(--title-text-color), 0 0 80px var(--title-text-color),
    0 0 80px var(--title-text-color);
}
.button-reset {
  color: var(--title-text-color);
  border: 1px solid var(--title-text-color);
  border-radius: 25px 0px;
  cursor: pointer;
  background-color: var(--background-color-second);
  padding: 5px 12px;
}

.spinner-border {
  margin: 0 auto;
  margin-bottom: 150px;
}
.sr-only {
  color: azure;
  width: 20px;
  height: 20px;
  display: inline-block;
  clip: auto;
  overflow: initial;
  top: 4px;
  left: -22px;
}

// ===========анімація========

.button-reset {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  // font-family: 'Staatliches', cursive;
  letter-spacing: 5px;

  border: 2px solid var(--title-text-color);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
}

.button-reset:after {
  content: '';
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;

  background: white;
  box-shadow: 0px 0px 20px var(--title-text-color), 0px 0px 30px var(--title-text-color),
    inset 0px 0px 10px var(--title-text-color);
  animation: spin 1s infinite linear;
}

.button-reset:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px var(--title-text-color);
}
// button:hover:after {
//   background: white;
//   box-shadow: 0px 0px 20px var(--title-text-color), 0px 0px 30px var(--title-text-color),
//     inset 0px 0px 10px var(--title-text-color);
//   animation: spin 1s infinite linear;
// }

@keyframes spin {
  25% {
    transform: translateX(-25px) translateY(-35px);
    width: 15px;
    height: 15px;
  }
  50% {
    transform: translateX(-55px) translateY(-30px);
    width: 5px;
    height: 5px;
  }
  75% {
    transform: translateX(-85px) translateY(-35px);
    width: 15px;
    height: 15px;
  }
}

button:focus {
  outline: none;
}
