.events__section {
  padding-top: 20px;
}
.events__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-top: -30px;
  @media screen and (min: width 768px) {
    margin-left: -28px;
    margin-top: -45px;
  }
  @media screen and (min: width 1280px) {
    margin-left: -70px;
    margin-top: -50px;
  }
}

.card {
  position: relative;
  margin-left: 14px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 14px);

  @media screen and (min-width: 768px) {
    margin-left: 28px;
    margin-top: 45px;
    flex-basis: calc(100% / 3 - 28px);
  }

  @media screen and (min-width: 1280px) {
    margin-left: 70px;
    margin-top: 50px;
    flex-basis: calc(100% / 4 - 70px);
  }
  &::before {
    content: '';
    position: absolute;
    left: -24%;
    bottom: 10px;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/events-section/rectangle-min.png);
    @media screen and (min-width: 768px) {
      background-image: url(../images/events-section/rectangle.png);
      left: -27%;
      bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
      left: -30%;
    }
  }
}

.card__img {
  border-radius: 50px 0;
  margin-bottom: 5px;
}
.card__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: var(--title-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.card__date {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.card__location {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
