.header {
  padding-top: 78px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (max-width: 1279px) {
    height: 364px;
  }
  @media screen and (min-width: 1280px) {
    height: 446px;
  }

  &__logo {
    backdrop-filter: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media screen and (max-width: 767px) {
      max-width: 106px;
    }
    @media screen and (max-width: 1279px) {
      width: 180px;
    }
    @media screen and (min-width: 1280px) {
      width: 240px;
    }
  }
  &__img-bg {
    position: absolute;
    z-index: -2;
    width: 100vw;
    @media screen and (max-width: 1279px) {
      height: 364px;
    }
    @media screen and (min-width: 1280px) {
      height: 446px;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;

    color: var(--title-text-color);
    max-width: 240px;
    height: 44px;

    animation: blink 3s infinite;
    -webkit-animation: blink 5s infinite;

    @media screen and (min-width: 768px) {
      max-width: 370px;
      font-size: 30px;
      line-height: 1.23;
      height: 74px;
      margin-bottom: 27px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 600px;
      height: 122px;
      font-size: 50px;
      line-height: 1.22;
      margin-bottom: 52px;
    }
  }
}

// Анімація

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--title-text-color), 0 0 15px var(--title-text-color),
      0 0 25px var(--title-text-color), 0 0 20px #f562ff, 0 0 30px var(--title-text-color),
      0 0 80px var(--title-text-color), 0 0 80px var(--title-text-color);
    color: #fccaff;
  }
}
