.pagination {
  padding-top: 80px;
  justify-content: center;
}
.pagination-list {
  list-style: none;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  display: flex;
}
.pagination-list li {
  width: 30px;
  margin-right: 6px;
}

.others-pagination {
  color: var(--text-color);
}

.accent-pagination {
  color: var(--title-text-color);
  border: 1px solid var(--title-text-color);
  border-radius: 10px 0px;
  cursor: pointer;
  padding: 7px 6px;
}

.pagination-list a:hover {
  text-decoration: none;
  color: var(--title-text-color);
}
